{% extends "base.html" %}
{% load static i18n compress %}

{% block extra_css %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
{% endblock %}

{% block extra_js %}
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin=""></script>

  <script src="{% static 'js/leaflet/plugins/L.Control.Appearance.js' %}"></script>

{% endblock %}

{% block content %}
  <div id="basemapBlock" style="display: grid; grid-template-columns: 60% 40%">
    <div id="map" style="height: 80vh"></div>
    <div id="sidebar" style="height: 80vh; padding-left: 5%; overflow: scroll;">
      <h1>Story</h1>
      <p>
      <h4><a href="#" data-key="part1" class="story-trigger">1752: The Beginning</a></h4>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor ipsum id augue elementum mollis. In pharetra
      porta nulla, a placerat mi porttitor eu. Donec elementum urna ac risus semper, ac congue lacus convallis.
      Vestibulum dignissim sapien sit amet felis tristique, ullamcorper pharetra nibh rutrum. Donec at varius tellus.
      Integer non neque a est maximus varius sit amet placerat erat. Sed at consectetur arcu.

      Nulla euismod metus id erat dignissim, a iaculis dolor faucibus. Ut ultrices justo sed elit auctor tristique at
      consequat mi. Cras pulvinar ex eros, nec elementum sem scelerisque ac. Etiam gravida non augue id rutrum. Nullam
      commodo molestie nisl, sit amet sodales elit semper sed. Nullam tempus ut mi vitae blandit. Mauris ac posuere
      eros. Phasellus molestie leo et dolor euismod, eget fringilla quam blandit. Proin mollis, nulla vel molestie
      vulputate, metus nisi gravida nisi, sed ultrices nisi augue eget velit. Donec pellentesque, quam nec lacinia
      congue, magna ipsum tincidunt neque, a dictum ipsum augue sit amet ex. Etiam quis odio ut augue laoreet iaculis
      eget non nisi. Sed venenatis luctus massa, non fermentum lorem tincidunt a. Aenean at quam porta, aliquet leo vel,
      iaculis dolor. Mauris vel dapibus leo.


      </p>

      <p>
      <h4><a href="#" data-key="part2" class="story-trigger">1755: The Revenge!</a></h4>
      Nulla euismod metus id erat dignissim, a iaculis dolor faucibus. Ut ultrices justo sed elit auctor tristique at
      consequat mi. Cras pulvinar ex eros, nec elementum sem scelerisque ac. Etiam gravida non augue id rutrum. Nullam
      commodo molestie nisl, sit amet sodales elit semper sed. Nullam tempus ut mi vitae blandit. Mauris ac posuere
      eros. Phasellus molestie leo et dolor euismod, eget fringilla quam blandit. Proin mollis, nulla vel molestie
      vulputate, metus nisi gravida nisi, sed ultrices nisi augue eget velit. Donec pellentesque, quam nec lacinia
      congue, magna ipsum tincidunt neque, a dictum ipsum augue sit amet ex. Etiam quis odio ut augue laoreet iaculis
      eget non nisi. Sed venenatis luctus massa, non fermentum lorem tincidunt a. Aenean at quam porta, aliquet leo vel,
      iaculis dolor. Mauris vel dapibus leo.
      </p>


      <p>
      <h4><a href="#" data-key="part3" class="story-trigger">1975: Noo Yok!</a></h4>
      Nulla euismod metus id erat dignissim, a iaculis dolor faucibus. Ut ultrices justo sed elit auctor tristique at
      consequat mi. Cras pulvinar ex eros, nec elementum sem scelerisque ac. Etiam gravida non augue id rutrum. Nullam
      commodo molestie nisl, sit amet sodales elit semper sed. Nullam tempus ut mi vitae blandit. Mauris ac posuere
      eros. Phasellus molestie leo et dolor euismod, eget fringilla quam blandit. Proin mollis, nulla vel molestie
      vulputate, metus nisi gravida nisi, sed ultrices nisi augue eget velit. Donec pellentesque, quam nec lacinia
      congue, magna ipsum tincidunt neque, a dictum ipsum augue sit amet ex. Etiam quis odio ut augue laoreet iaculis
      eget non nisi. Sed venenatis luctus massa, non fermentum lorem tincidunt a. Aenean at quam porta, aliquet leo vel,
      iaculis dolor. Mauris vel dapibus leo.
      </p>

    </div>
  </div>



  <script>
    let map = L.map('map').setView([-75.651202401071004, 39.254478013267423], 5);
    let osm = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);

    let russell = new L.tileLayer('/static/maps/Russell_1794/{z}/{x}/{y}.png', {
      minZoom: 6,
      maxZoom: 12,
      tms: false,
      attribution: 'Generated by TilesXYZ',
      transparent: true
    }).addTo(map)

    let filters = {
      'year_start': 1752,
      'year_end': 1752,
    }

    let featuresPart1 = {
      "type": "Feature1975",
      "name": "BCC_points_export_07march22",
      "crs": {"type": "name", "properties": {"name": "urn:ogc:def:crs:OGC:1.3:CRS84"}},
      "features": [{
        "type": "Feature",
        "properties": {
          "id": null,
          "feat_type": 3,
          "sub_type": 2,
          "map_source": 8,
          "date_yr": 1752,
          "map_text": "CAPE MAY CO.",
          "norm_text": "Cape May Company",
          "accuracy": 4
        },
        "geometry": {"type": "Point", "coordinates": [-74.794524114181897, 39.225419600607907]}
      },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 1,
            "sub_type": 2,
            "map_source": 8,
            "date_yr": 1752,
            "map_text": "Leeds",
            "norm_text": "Leeds",
            "accuracy": 3
          },
          "geometry": {"type": "Point", "coordinates": [-74.444349048008235, 39.489407284905724]}
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 1,
            "sub_type": 2,
            "map_source": 8,
            "date_yr": 1752,
            "map_text": "Greenwich",
            "norm_text": "Greenwich",
            "accuracy": 3
          },
          "geometry": {"type": "Point", "coordinates": [-75.309781711551707, 39.394757262425429]}
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 1,
            "sub_type": 2,
            "map_source": 8,
            "date_yr": 1752,
            "map_text": "Salem",
            "norm_text": "Salem",
            "accuracy": 3
          },
          "geometry": {"type": "Point", "coordinates": [-75.466109866093518, 39.571397497760223]}
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 1,
            "sub_type": 2,
            "map_source": 8,
            "date_yr": 1752,
            "map_text": "Dover",
            "norm_text": "Dover",
            "accuracy": 3
          },
          "geometry": {"type": "Point", "coordinates": [-75.604929267326625, 39.093537216162069]}
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 1,
            "sub_type": 2,
            "map_source": 8,
            "date_yr": 1752,
            "map_text": "Salisbury",
            "norm_text": "Salisbury",
            "accuracy": 3
          },
          "geometry": {"type": "Point", "coordinates": [-75.651202401071004, 39.254478013267423]}
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 1,
            "sub_type": 2,
            "map_source": 8,
            "date_yr": 1752,
            "map_text": "New T.",
            "norm_text": "New Town",
            "accuracy": 3
          },
          "geometry": {"type": "Point", "coordinates": [-76.085169358079071, 39.204102448677183]}
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 1,
            "sub_type": 2,
            "map_source": 8,
            "date_yr": 1752,
            "map_text": "George T",
            "norm_text": "Georgetown",
            "accuracy": 3
          },
          "geometry": {"type": "Point", "coordinates": [-76.062658103825058, 39.357054644423748]}
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 1,
            "sub_type": 2,
            "map_source": 8,
            "date_yr": 1752,
            "map_text": "Noxontown",
            "norm_text": "Noxontown",
            "accuracy": 3
          },
          "geometry": {"type": "Point", "coordinates": [-75.678716156270369, 39.369624446102456]}
        }]
    }

    let featuresPart2 = {
      "type": "Feature1975",
      "name": "BCC_points_export_07march22",
      "crs": {"type": "name", "properties": {"name": "urn:ogc:def:crs:OGC:1.3:CRS84"}},
      "features": [{
        "type": "Feature",
        "properties": {
          "id": null,
          "feat_type": 5,
          "sub_type": 4,
          "map_source": 12,
          "date_yr": 1755,
          "map_text": "French House",
          "norm_text": "French House",
          "accuracy": 2
        },
        "geometry": {"type": "Point", "coordinates": [-66.048401017803627, 49.51321377352896]}
      },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 5,
            "sub_type": 4,
            "map_source": 12,
            "date_yr": 1755,
            "map_text": "English H.",
            "norm_text": "English House",
            "accuracy": 2
          },
          "geometry": {"type": "Point", "coordinates": [-66.329719711006589, 49.286173106646224]}
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 1,
            "sub_type": 2,
            "map_source": 12,
            "date_yr": 1755,
            "map_text": "Ye Olde Neil's Place",
            "norm_text": "Neil's Place",
            "accuracy": 2
          },
          "geometry": {"type": "Point", "coordinates": [-66.955994100403643, 48.844965097545895]}
        }]
    }

    let featuresPart3 = {
      "type": "Feature1975",
      "name": "BCC_points_export_07march22",
      "crs": {"type": "name", "properties": {"name": "urn:ogc:def:crs:OGC:1.3:CRS84"}},
      "features": [{
        "type": "Feature",
        "properties": {
          "id": null,
          "feat_type": 1,
          "sub_type": 1,
          "map_source": 1,
          "date_yr": 1975,
          "map_text": "Noo York",
          "norm_text": "New York",
          "accuracy": 1
        },
        "geometry": {"type": "Point", "coordinates": [-73.806975078231048, 40.901800182986982]}
      }]
    }


    let features = {
      "type": "FeatureCollection",
      "name": "BCC_points_export_07march22",
      "crs": {"type": "name", "properties": {"name": "urn:ogc:def:crs:OGC:1.3:CRS84"}},
      "features": [


        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 1,
            "sub_type": 1,
            "map_source": 1,
            "date_yr": 1590,
            "map_text": "Roanoac",
            "norm_text": "Roanoke",
            "accuracy": 1
          },
          "geometry": {"type": "Point", "coordinates": [-75.861013916563678, 35.850792882051685]}
        },

        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 1,
            "sub_type": 2,
            "map_source": 8,
            "date_yr": 1752,
            "map_text": "St. George",
            "norm_text": "St George",
            "accuracy": 3
          },
          "geometry": {"type": "Point", "coordinates": [-75.644949274889356, 39.500988243033909]}
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 1,
            "sub_type": 2,
            "map_source": 8,
            "date_yr": 1752,
            "map_text": "New Castle",
            "norm_text": "Newcastle",
            "accuracy": 3
          },
          "geometry": {"type": "Point", "coordinates": [-75.548651131691585, 39.66388174599917]}
        },
        {
          "type": "Feature",
          "properties": {
            "id": 1,
            "feat_type": 3,
            "sub_type": 3,
            "map_source": 12,
            "date_yr": 1755,
            "accuracy": 3,
            "map_text": "Limits of Canada and the Iroquois according to De L'Isle Du Fer and other Geographers",
            "norm_text": null
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-78.7030031, 45.0804622], [-72.6063487, 45.574481]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 6,
            "map_source": 12,
            "date_yr": 1755,
            "accuracy": 3,
            "map_text": "Ship Channel 120 Leagues to Quebec.",
            "norm_text": "Ship Channel 120 Leagues to Quebec."
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-65.6515624, 49.5402848], [-65.6155436, 49.6459642], [-65.5018001, 49.7354892], [-65.3956394, 49.8028306], [-65.2913745, 49.8847384], [-65.1662566, 49.92503], [-64.9728925, 49.9213685], [-64.7909029, 49.9042779], [-64.658202, 49.8676348], [-64.4818995, 49.8419681], [-64.2278723, 49.8285182], [-63.9757407, 49.7942651], [-63.7539408, 49.7465151], [-63.5473067, 49.7122041], [-63.3482555, 49.6447367], [-63.1890145, 49.5636523], [-63.0790624, 49.4984414], [-62.9994419, 49.4331435], [-62.9558402, 49.3936763]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 12,
            "date_yr": 1755,
            "accuracy": 3,
            "map_text": null,
            "norm_text": null
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-77.9474406, 34.0586282], [-77.8644337, 34.1697981], [-77.827813, 34.2808218], [-77.7814267, 34.3675201], [-77.6886542, 34.4521157], [-77.6129714, 34.5285807], [-77.4542816, 34.6130132], [-77.3639505, 34.699367], [-77.3395366, 34.7816206], [-77.3273297, 34.8397504], [-77.3444194, 34.9238658], [-77.3468608, 34.9958961], [-77.3346539, 35.0378846], [-77.3566263, 35.1337772]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 6,
            "map_source": 12,
            "date_yr": 1755,
            "accuracy": 2,
            "map_text": "Coming down",
            "norm_text": "Coming down"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-65.6572396, 49.5222944], [-65.5013891, 49.5896951], [-65.3099937, 49.6038728], [-65.0146979, 49.6056448], [-64.804163, 49.6091884], [-64.5717543, 49.58615], [-64.2819269, 49.5701939], [-64.0249103, 49.545363], [-63.7760962, 49.5418147], [-63.5163453, 49.499215], [-63.2675313, 49.4530234], [-63.0788701, 49.4121253], [-62.9394249, 49.3943328]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Lewes to Dover"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.272263, 38.7261725], [-75.322288, 38.7125118], [-75.3660598, 38.7086083], [-75.402328, 38.7164151], [-75.4310924, 38.7359285], [-75.4586061, 38.7671388], [-75.4698617, 38.7798141], [-75.5086311, 38.8061325], [-75.502378, 38.8645831], [-75.5636586, 38.8616617], [-75.5711624, 38.892817], [-75.5611574, 38.9463332], [-75.5736636, 38.9813401], [-75.5836686, 38.9968932], [-75.5999268, 39.0270176], [-75.6011774, 39.0911106]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Branch Lewes to Dover"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.3510523, 38.7915124], [-75.3948242, 38.781764], [-75.4373455, 38.7788392], [-75.4711124, 38.7798141]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Branch Lewes to Dover"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.5988402, 39.0799991], [-75.6106789, 39.0637796], [-75.6239104, 39.0091466], [-75.6371419, 38.9674672], [-75.6169464, 38.9300974], [-75.5730735, 38.8899977]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Branch Lewes to Dover"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.5835195, 38.9988643], [-75.6371419, 38.9680087], [-75.6817112, 38.9495972]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Dover to interior"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.6051077, 39.0918911], [-75.6155536, 39.087567], [-75.6253032, 39.0637796], [-75.653159, 39.0464747]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Dover to Little C."
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.6044113, 39.0918911], [-75.5856087, 39.1135076], [-75.5612348, 39.1280951], [-75.5528781, 39.1216121]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Dover to Salisbury"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.604462, 39.0940123], [-75.5936883, 39.1037668], [-75.6403742, 39.1956713], [-75.6511478, 39.2547887]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Branch Dover to Salisbury"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.6071554, 39.1302364], [-75.5847103, 39.1740984], [-75.604462, 39.2081944], [-75.645761, 39.2318432]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Salisbury to Noxontown"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.6520456, 39.2540935], [-75.6852644, 39.3020468], [-75.6897534, 39.3110778], [-75.6789798, 39.3346918], [-75.6708995, 39.3582979], [-75.6771842, 39.3700979]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Salisbury to Peterson"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.6520456, 39.2547887], [-75.6884067, 39.3027415], [-75.6982826, 39.3336502], [-75.7041183, 39.3676686], [-75.7211766, 39.3624628]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Noxontown to Peterson"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.6776331, 39.3687098], [-75.7027716, 39.3676686], [-75.7202788, 39.3614216]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Noxontown to St George"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.6771842, 39.3683627], [-75.6399253, 39.3961203], [-75.6376807, 39.4186653], [-75.6444143, 39.4529889], [-75.6448632, 39.5014986]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Branch Salisbury to St George"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.6776331, 39.3312196], [-75.6480055, 39.3607274], [-75.6390275, 39.397161]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Branch Salisbury to Newcastle"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.7042963, 39.3667022], [-75.6962529, 39.5140906], [-75.6304436, 39.587386], [-75.5990014, 39.6617298], [-75.5485476, 39.6667958]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Branch St George to Newcastle"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.6443367, 39.5022433], [-75.6326373, 39.587386]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Greenwich to Salem"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.468295, 39.5671085], [-75.4378414, 39.5035376], [-75.4066919, 39.471064], [-75.362819, 39.4496113], [-75.3350329, 39.405556], [-75.3101716, 39.3965156]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Fairfield to Greenwich"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.3107823, 39.3967769], [-75.3098998, 39.3602351], [-75.2929114, 39.3522394], [-75.2200983, 39.352415]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Alternate Greenwich to Salem"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.4664885, 39.5689399], [-75.4088757, 39.5387563], [-75.3512628, 39.4914614], [-75.299559, 39.4201734], [-75.2899569, 39.3990582]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Fairefield interior route"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.2212646, 39.3528105], [-75.1769471, 39.3528105], [-75.1421371, 39.3858983], [-75.1141638, 39.4618145], [-75.116749, 39.4911764], [-75.1510951, 39.5931341], [-75.1861799, 39.68869], [-75.1954127, 39.7193763], [-75.2064921, 39.7855327]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": "26",
            "norm_text": "Salem coastal route"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.4664001, 39.5690387], [-75.4295572, 39.591142], [-75.3748989, 39.6628233], [-75.3497856, 39.7196604], [-75.3276268, 39.7401103], [-75.2774002, 39.7650963], [-75.2079694, 39.7855327]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Cape May to Greenwich"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.1429492, 39.3856891], [-74.989336, 39.3802202], [-74.9199051, 39.2899561], [-74.819452, 39.118248], [-74.8697806, 39.0685783]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Cape May network"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-74.8688331, 39.0687885], [-74.9088627, 39.0099696], [-74.9359325, 38.9505229], [-74.9487907, 38.9978739], [-74.9115697, 39.0104955], [-74.9210441, 39.0430908], [-74.8715401, 39.068263]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Cape May branch"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-74.8257921, 39.1249859], [-74.891944, 39.1607294]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Cape May coastal"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-74.8202089, 39.1119122], [-74.7511808, 39.1785681], [-74.609064, 39.2860289]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": null,
            "norm_text": "Cape May branch"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-74.764039, 39.1685999], [-74.8479555, 39.1665012]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 4,
            "sub_type": 5,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": "10",
            "norm_text": "Greenwich east to Cape May"
          },
          "geometry": {
            "type": "MultiLineString",
            "coordinates": [[[-75.3107823, 39.3965677], [-75.2902092, 39.3992871], [-75.2352574, 39.4011697], [-75.1775986, 39.3951034], [-75.1426785, 39.3858983]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 3,
            "sub_type": 7,
            "map_source": 12,
            "date_yr": 1755,
            "accuracy": 4,
            "map_text": "By the several Conquests here mentioned, the Territories of the Six Nations extend to the Limits here laid down; which they have been in Possession of about 100 Years.",
            "norm_text": "By the several Conquests here mentioned, the Territories of the Six Nations extend to the Limits here laid down; which they have been in Possession of about 100 Years."
          },
          "geometry": {
            "type": "MultiPolygon",
            "coordinates": [[[[-77.7658121, 45.7672156], [-77.768398, 45.312613], [-76.4521863, 45.3471538], [-76.4340851, 45.7762341], [-77.7658121, 45.7672156]]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 3,
            "sub_type": 7,
            "map_source": 12,
            "date_yr": 1755,
            "accuracy": 4,
            "map_text": "The Bounds of Pensylvania and Maryland and the Delaware Counties are here laid down according to the late Decree in Chancery in which it is supposed otherwise to affect the Claims of any.",
            "norm_text": "The Bounds of Pensylvania and Maryland and the Delaware Counties are here laid down according to the late Decree in Chancery in which it is supposed otherwise to affect the Claims of any."
          },
          "geometry": {
            "type": "MultiPolygon",
            "coordinates": [[[[-74.6155767, 38.6213372], [-74.6429189, 38.2894604], [-73.0447673, 38.2873143], [-73.0310962, 38.6106553], [-74.6155767, 38.6213372]]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 5,
            "sub_type": 2,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": "SALEM CO.",
            "norm_text": "Salem Company"
          },
          "geometry": {
            "type": "MultiPolygon",
            "coordinates": [[[[-75.1376706, 39.5875035], [-75.4326643, 39.7844676], [-75.4692086, 39.7418103], [-75.4827436, 39.6678777], [-75.5368833, 39.6115943], [-75.5098134, 39.4999345], [-75.3852921, 39.3954172], [-75.3785246, 39.3577525], [-75.3514548, 39.356706], [-75.3392733, 39.3137847], [-75.1376706, 39.5875035]]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 5,
            "sub_type": 2,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": "CUMBERLAND CO.",
            "norm_text": "Cumberland Company"
          },
          "geometry": {
            "type": "MultiPolygon",
            "coordinates": [[[[-75.1376706, 39.5875035], [-75.3392057, 39.3140989], [-75.0983516, 39.147085], [-75.025263, 39.1785681], [-74.9711233, 39.1554818], [-74.7554443, 39.3573339], [-75.1376706, 39.5875035]]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 5,
            "sub_type": 2,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": "CAPE MAY CO.",
            "norm_text": "Cape May Company"
          },
          "geometry": {
            "type": "MultiPolygon",
            "coordinates": [[[[-74.7545645, 39.3577525], [-74.9709203, 39.1556917], [-74.9866885, 38.945786], [-74.8811161, 38.9452597], [-74.5508639, 39.2566901], [-74.7545645, 39.3577525]]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 5,
            "sub_type": 2,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": "GLOUCESTER CO.",
            "norm_text": "Gloucester Company"
          },
          "geometry": {
            "type": "MultiPolygon",
            "coordinates": [[[[-74.3464865, 39.4450825], [-74.6456083, 39.6933986], [-74.8202089, 39.8442474], [-75.0354142, 39.9833585], [-75.1301587, 39.9200669], [-75.1531681, 39.8535996], [-75.4346946, 39.7849877], [-74.7565271, 39.3559734], [-74.551879, 39.2571093], [-74.3464865, 39.4450825]]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 5,
            "sub_type": 2,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": "SUSSEX CO.",
            "norm_text": "Sussex Company"
          },
          "geometry": {
            "type": "MultiPolygon",
            "coordinates": [[[[-75.8495401, 38.8399141], [-75.857661, 38.4434781], [-75.222873, 38.4265147], [-75.212045, 38.7185736], [-75.3731107, 38.8346427], [-75.8495401, 38.8399141]]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 5,
            "sub_type": 2,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": "KENT CO.",
            "norm_text": "Kent Company"
          },
          "geometry": {
            "type": "MultiPolygon",
            "coordinates": [[[[-75.8157028, 39.2005978], [-75.8479836, 38.8400195], [-75.3731783, 38.8345373], [-75.5193555, 39.3823415], [-75.5897372, 39.2763904], [-75.6221533, 39.2666457], [-75.6532836, 39.263502], [-75.6812333, 39.2585765], [-75.7321246, 39.2044786], [-75.8157028, 39.2005978]]]]
          }
        },
        {
          "type": "Feature",
          "properties": {
            "id": null,
            "feat_type": 5,
            "sub_type": 2,
            "map_source": 8,
            "date_yr": 1752,
            "accuracy": 3,
            "map_text": "NEW CASTLE CO.",
            "norm_text": "Newcastle Company"
          },
          "geometry": {
            "type": "MultiPolygon",
            "coordinates": [[[[-75.8119807, 39.2005978], [-75.7307711, 39.2037444], [-75.6823161, 39.2587861], [-75.6211382, 39.2655978], [-75.5900079, 39.2771238], [-75.5196262, 39.3818184], [-75.5940683, 39.5667433], [-75.4993239, 39.7230743], [-75.4370632, 39.8115049], [-75.4830819, 39.8354137], [-75.5466961, 39.8499628], [-75.6130172, 39.8416494], [-75.6847524, 39.807346], [-75.7307711, 39.7470138], [-75.7429525, 39.7282792], [-75.7632549, 39.5124661], [-75.8119807, 39.2005978]]]]
          }
        },

      ]
    };


    let lineStyle = {
      stroke: true,
      color: '#0000ff',
      weight: 5,
      opacity: 0.6,
      fillColor: '#ff7800',
      fill: true
    };

    function onEachFeature(feature, layer) {
      // does this feature have a property named popupContent?
      if (feature.properties && (feature.properties.map_text || feature.properties.norm_text)) {
        if (feature.properties.map_text) {
          layer.bindPopup(feature.properties.map_text);
        } else {
          layer.bindPopup(feature.properties.norm_text);
        }

      }
    }

    function filterFeatures(feature, layer) {
      /*if (feature.properties) {
        if (filters.year_start >= 0 || filters.year_end >= 0) {
          // Filter by year
          if (feature.properties.date_yr && feature.properties.date_yr > 0) {
            // Exact but will be range later
            if (feature.properties.date_yr === filters.year_start){
              return true;
            }else{
              return false;
            }
          }
        }
      }*/
      return true;
    }

    /*let geoLayer = L.geoJSON(features, {
      style: lineStyle,
      onEachFeature: onEachFeature,
      filter: filterFeatures,
    }).addTo(map);*/

    let layerPart1 = L.geoJSON(featuresPart1, {
      style: lineStyle,
      onEachFeature: onEachFeature,
      filter: filterFeatures,
    }).addTo(map);

    let layerPart2 = L.geoJSON(featuresPart2, {
      style: lineStyle,
      onEachFeature: onEachFeature,
      filter: filterFeatures,
    });

    let layerPart3 = L.geoJSON(featuresPart3, {
      style: lineStyle,
      onEachFeature: onEachFeature,
      filter: filterFeatures,
    });


    /*
    Lots of other controls could be added here, for instance:
     - A marker popup to start open
     - whether we clear other layers or not
     */
    let storyLayers = {
      "part1": {
        "centre": [-75.651202401071004, 39.254478013267423],
        "zoom": 5,
        "layer": layerPart1,
      },
      "part2": {
        "centre": [-75.651202401071004, 39.254478013267423],
        "zoom": 5,
        "layer": layerPart2,
      },
      "part3": {
        "centre": [-73.806975078231048, 40.901800182986982],
        "zoom": 3,
        "layer": layerPart3,
      },

    }

    let baseMaps = {
      "Open Street Map": osm,
      //"Russell 1794": russell,
    };

    let uneditableOverlays = {};

    let overlayMaps = {
      "Part 1": layerPart1,
      "Part 2": layerPart2,
      "Part 3": layerPart3,

    };

    let appearanceControl = L.control.appearance(baseMaps, overlayMaps, uneditableOverlays, {
      opacity: true,
      remove: true,
      color: true,
    });
    appearanceControl.addTo(map);
    //map.removeLayer(layerPart2);
    //map.removeLayer(layerPart1);


  </script>
  <script defer>
    $(document).ready(function () {
      $('a.story-trigger').on('click', function () {
        let key = $(this).data('key');
        // Remove all layers
        for (const [key, storyLayer] of Object.entries(storyLayers)) {
          map.removeLayer(storyLayer.layer);
        }
        storyLayers[key].layer.addTo(map);
        map.setView(storyLayers[key].centre, storyLayers[key].zoom);
      })
    });
  </script>

{% endblock content %}
